*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: plum;

}
input[type="text"]{
    color: rgb(231, 61, 237);
}
/* font properties */
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 600;
    font-style: italic;
    font-display: block;
    line-height: 120%;
    letter-spacing: .2px;
}
/* Text Properties */
.text-properties{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    text-overflow: clip;
    text-shadow: 8px 6px 5px rgb(26, 225, 39);
    background-color: rgb(219, 172, 139);
}
/* colors&units */
#color-and-units{
    height: 200px;
    width: 250px;
    /* background-color: rgb(19, 112, 112); */
    /* rgba used to add transperancy */
    background-color: rgba(120, 150, 200,.3);
    margin-top: 3%;
    text-align: center;
}
/*box perties*/
/* border */
#boxproperty{
    height: 200px;
    width: 300px;
   background: linear-gradient(to left red,blue);
    margin: 2% 20%;
    box-sizing: border-box;
    padding: 90px 10px;
    border: red solid 3px;
    border-radius: 22%;
    border-style: double;
    
}
#background{
    height: 300px;
    width: 400px;
    border: rgb(0, 0, 0) solid 2px;
    margin: 100px 50px;
    background:linear-gradient(to left top, rgb(32, 32, 235), rgb(241, 236, 135) ,rgb(240, 6, 6));
}